<html>
<body>
{% extends 'base.html' %}
{% block content %}
    {% if user.is_authenticated %}
        <a class="nav-link" href="#">Welcome! {{user.username}}</a>
        <a href = "/logout/" class="btn btn-primary">Logout</a>
    {%else%}
        <a href = "/login/" class="btn btn-primary">Login</a>
        <a href = "/registeruser/" class="btn btn-primary">Sign Up/Register</a>
    {%endif%}

    <h1>"Company Name"</h1>
        <h2>Mission Statement</h2>
            <p><i>Driven by accessibility, we strive to enhance the learning environment in universities by providing....</i></p>

        <h2>Our Target Market</h2>
            <p>The target market for our system is aimed towards universities with busy computer labs.</p>

        <h2>Our Product</h2>
            <p><b>"Product Name"</b> is a system for universities that strives to provide more accessible assistance to students and less stressful experience 
                for lab tutors.</p>

        <h2>System Features</h2>
            <p><b>"Product Name"</b>includes the following features as part of the system:</p> 
            <ul>
                <li><b>Authentication system</b> for both students and lab tutors to access the system.</li>
                <li><b>Help request system</b> for students who can request assistance from a lab tutor. The student inputs their PC number and
                    a description of their request which will be received by a lab tutor when they click send. This functionality was developed
                    using Websocket and Django channels.</li>
            </ul>

        <h2>Contact</h2>
            <p></p>
{% endblock %}

</body>