
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}


<div class="container mt-4">
    <!-- LabLine Introduction Card -->
    <div class="card mb-4">
        <h2 class="card-header">LabLine</h2>
        <div class="card-body">
            <p>LabLine is a system that allows for more efficient lab operations by streamlining the process of students requesting assistance from a lab tutor.</p>
        </div>
    </div>

    <!-- Features Card -->
    <div class="card mb-4">
        <h2 class="card-header">Features</h2>
        <div class="card-body">
            <p>LabLine's features include a <b>request page</b> where students can provide their PC number and a description of the problem they're encountering. They can also <b>cancel their request</b> if they no longer need help and <b>view their previous requests.</b></p>
        </div>
    </div>

    <!-- Instructions Card -->
    <div class="card mb-4">
        <h2 class="card-header">Instructions</h2>
        <div class="card-body">
            <p>To get started, register as a new user by clicking "Register". Then, enter your username, email address, and password, and also indicate if you are registering as a student or as a tutor.</p>
        </div>
    </div>
</div>

{% endblock %}
