{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="login-container">
    <!-- Left Side: Login Form -->
    <div class="login-box">
        <h2 class="text-center">Login</h2>
        <div class="form-container">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="submit-button w-100">Login</button>
            </form>
            <h2 class="text-center">New Here?</h2>
            <p>Create an account and get started now.</p>
            <button type="submit" href="/register" class="submit-button">Register</button>
        </div>

    </div>
</div>
 
{% endblock %}
